# Visible in the header, title and in RSS feed
site_name: Bookmark Manager

# Base URL of the site
base_url: http://localhost:8000                 

# Password required for managing bookmarks
password: CHANGEME!                              

# Random secret. You can use https://www.uuidgenerator.net/
secret: 10429f12-d049-4f3b-8ac2-ebf2a9008968

# Max bookmarks per page
page_size: 10

# Port the app is listening to. Don't change if you run the app in docker
port: 8000

# DON'T CHANGE! NOT SUPPORTED YET!
template: default