# ------------------
# SITE CONFIGURATION
# ------------------

# Visible in the header, title and in RSS feed
site_name: Bookmark Manager

# Used in meta tag and in RSS feed
description: My personal bookmark collection

# Author's name. Shown in feeds
author_name: ""

# Author's email address. Shown in feeds
author_email: ""

# Base URL of the site
base_url: http://localhost:8000                 

# Password required for managing bookmarks
password: CHANGEME!                              

# Random secret. You can use https://www.uuidgenerator.net/
secret: 10429f12-d049-4f3b-8ac2-ebf2a9008968

# Max bookmarks per page
page_size: 10

# Port the app is listening to. Don't change if you run the app in docker
port: 8000

# DON'T CHANGE! NOT SUPPORTED YET!
template: default

# -------------
# BOOKMARK CHECK
# --------------

# How often bookmarks are checked (in hours, 0 to disable)
#check_interval: 24

# Run bookmarks check when app starts
#check_on_app_start: false

# -------------
# Notifications
# --------------

# Use Gotify notifications
gotify_enabled: false

# Gotify base url
# gotify_url: https://mygotifyinstance.com

# Gotify app token
# gotify_token: my-gotify-app-token

