version: "3.9"
services:
  app:
    image: ghcr.io/saaste/bookmark-manager:latest
    container_name: bookmark-manager
    volumes:
      - ./bookmarks.db:/app/bookmarks.db
      - ./config.yml:/app/config.yml
    ports:
      - "8000:8000"