{{ define "base" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }} | {{ .SiteName }}</title>
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ feedUrl }}">
    <base href="{{ .BaseURL }}">
    <script type="module" src="/assets/app.js"></script>
    <script type="module" src="/assets/api.js"></script>
</head>
<body>
    <header id="header">
        <div class="content">
            <h1><a href="{{ .BaseURL }}">{{ .SiteName }}</a></h1>
            <nav class="auth-nav">
                {{ if .IsAuthenticated }}
                <a href="{{ .BaseURL }}/admin/bookmarks/add">Add Bookmark</a> |
                <a href="{{ .BaseURL }}/admin/bookmarks">Private Bookmarks</a> |
                <a href="{{ .BaseURL }}/logout">Log out</a>
                {{ else }}
                <a href="{{ .BaseURL }}/login">Log in</a>
                {{ end }}
            </nav>
        </div>
    </header>
    <main id="content">
        {{ template "content" .}}
    </main>
    <footer id="footer">
        Powered by <a href="https://github.com/saaste/bookmark-manager" target="_blank" aria-label="Bookmark Manager @ GitHub">Bookmark Manager</a> |
        <a href="{{ feedUrl }}">RSS-feed</a>
    </footer>
</body>
</html>
{{ end }}