{{ define "base" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }} | {{ .SiteName }}</title>
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/styles.css">

    {{ template "headers" . }}

    <script type="module" src="/assets/dark-light.js"></script>
</head>
<body>
    <div id="container">
        <header>
            <h1><a href="{{ .BaseURL }}">{{ .SiteName }}</a></h1>
            <nav>
                {{ if .IsAuthenticated }}
                <a href="{{ .BaseURL }}admin/bookmarks/add">Add Bookmark</a> |
                <a href="{{ .BaseURL }}admin/bookmarks">Private Bookmarks</a> |
                {{ if .BrokenBookmarksExist }}
                <a href="{{ .BaseURL }}admin/bookmarks/broken" class="warning">Broken Bookmarks</a> |
                {{ end}}
                <a href="{{ .BaseURL }}logout">Log out</a> |
                {{ else }}
                <a href="{{ .BaseURL }}login">Log in</a> |
                {{ end }}
                <a href="#" id="mode-switch" aria-label="Switch to light mode">
                    <img src="{{ .BaseURL }}assets/light.png" alt="Sun icon" id="mode-switch-icon" class="icon">
                </a>
            </nav>
        </header>

        <main>
            {{ template "content" .}}
        </main>
        
        <footer>
            <p>Powered by <a href="https://github.com/saaste/bookmark-manager" target="_blank">Bookmark Manager (GitHub)</a></p>
            {{ if .IsAuthenticated }}
                <p>version {{ .AppVersion }}</p>
            {{ end }}
        </footer>
    </div>
</body>
</html>
{{ end }}