{{ define "base" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }} | {{ .SiteName }}</title>
    <link rel="stylesheet" href="{{ .BaseURL }}assets/reset.css">
    <link rel="stylesheet" href="{{ .BaseURL }}assets/styles.css">
    <link rel="icon" type="image/x-icon" href="{{ .BaseURL }}assets/favicon.ico">
    {{ template "headers" . }}
    <script type="module" src="{{ .BaseURL }}assets/menu.js"></script>
</head>
<body class="dark">
    <div class="page-container">
        <header class="header-container">
            <h1 class="page-header"><a href="{{ .BaseURL }}">{{ .SiteName }}</a></h1>
            <nav>
                <a href="#" id="menu-icon" aria-label="Toggle navigation menu" class="navigation-toggler mobile-only">&#9776;</a>
                <ul id="menu-items" class="header-navigation desktop-only">
                    {{ if .IsAuthenticated }}
                    <li><a href="{{ .BaseURL }}admin/bookmarks/add">Add Bookmark</a></li>
                    <li><a href="{{ .BaseURL }}admin/bookmarks">Private Bookmarks</a></li>
                    {{ if .BrokenBookmarksExist }}
                    <li><a href="{{ .BaseURL }}admin/bookmarks/broken" class="warning">Broken Bookmarks</a></li>
                    {{ end}}
                    <li><a href="{{ .BaseURL }}logout">Log out</a></li>
                    {{ else }}
                    <li><a href="{{ .BaseURL }}login">Log in</a></li>
                    {{ end }}
                </ul>
            </nav>
        </header>

        <main class="main-container">
            {{ template "content" .}}
        </main>
        
        <footer class="footer-container">
            <p>Powered by <a href="https://github.com/saaste/bookmark-manager" target="_blank">Bookmark Manager (GitHub)</a></p>
            {{ if .IsAuthenticated }}
                <p>version {{ .AppVersion }}</p>
            {{ end }}
        </footer>
    </div>
</body>
</html>
{{ end }}