{{ define "title" }}Index{{ end }}
{{ define "content" }}

<nav class="mobile-only mobile-helper"><a href='{{ anchorUrl "tags" }}' id="top">Go to Tags</a></nav>

<section class="search-container">
    <h2 class="search-title">Search</h2>
    <form method="get" action="{{ .BaseURL }}">
        <input type="text" name="q" id="q" aria-label="Search by keyword" class="search-input">
        {{ if .TagFilter }}
        <input type="hidden" name="tags" value="{{ .TagFilter }}">
        {{ end }}
    </form>
</section>

<section class="bookmarks-container">
    <div class="bookmarks-header">
        <h2 class="bookmarks-title">{{ .Title }}</h2>
        {{ if .Bookmarks }}
        <a href='{{ feedUrl "rss" }}'><img src="{{ .BaseURL }}assets/feed.png" class="icon" alt="RSS feed icon" title="RSS feed"></a>
        {{ end }}
    </div>
    
    {{ if .Bookmarks }}
    <ul class="bookmarks">
        {{ range .Bookmarks }} 
        <li class="bookmark">
            <div class="bookmark-heading">
                <h3 class="bookmark-title"><a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a></h3>
                {{ if $.IsAuthenticated }}
                <div>
                    {{ if eq .IsWorking false }}<img src="{{ $.BaseURL }}assets/warning.png" class="icon" alt="Exclamation point icon" title="Bookmark is broken">{{ end }}
                    {{ if eq .IsPrivate true }}<img src="{{ $.BaseURL }}assets/lock.png" class="icon" alt="Lock icon" title="Bookmark is private">{{ end }}
                </div>
                {{ end }}
            </div>
            
            {{ if .Description }}
                <p>{{ .Description }}</p>
            {{ end }}
            
            <div class="bookmark-extras">
                {{ if gt (len .Tags) 0  }}
                <div class="bookmark-tags">
                    Tags:
                    {{ range .Tags }}
                        <a href="{{ $.BaseURL}}tags/{{ . }}" class="bookmark-tag">{{ . }}</a>
                    {{ end }}
                </div>
                {{ end}}
                {{ if $.IsAuthenticated }}
                <div class="bookmark-actions">
                    <a href="{{ $.BaseURL }}admin/bookmarks/{{ .ID }}" class="bookmark-action">Edit</a>
                    <a href="{{ $.BaseURL }}admin/bookmarks/{{ .ID }}/delete" class="bookmark-action">Delete</a>
                </div>
                {{ end }}
            </div>
        </li>
        {{ end }}
    </ul>

    {{ if gt (len .Pages) 1 }}
    <nav class="bookmarks-pagination" aria-label="Pagination Navigation">
        Page: 
        {{ range .Pages }}
            {{ if .IsActive }}
                {{ .Number }}
            {{ else }}
                <a href="{{ paginationUrl .Number }}" aria-label="Go to page {{ .Number }}">{{ .Number }}</a>
            {{ end }}
        {{ end }}
    </nav>
    {{ end }}
    {{ else }}
    <div class="bookmark">
        <p>No bookmarks</p>
    </div>
    {{ end }}
</section>

<nav class="mobile-only mobile-helper"><a href="{{ anchorUrl "top" }}">Go to top</a></nav>

{{ if .Tags }}
<section class="tags-container">
    <h2 class="tags-title">Tags</h2>
    <ul class="tags-list">
        {{ range .Tags }}
        <li><a href="{{ $.BaseURL}}tags/{{ . }}" class="tag">{{ . }}</a></li>    
        {{ end }}
    </ul>
</section>
{{ end }}

{{ end }}