{{ define "title" }}Index{{ end }}
{{ define "content" }}


<section id="bookmarks">
    <nav class="mobile-only mobile-helper"><a href="{{ anchorUrl "q" }}" id="top">Go to Search and Tags</a></nav>
    <div class="header">
        <h2>{{ .Title }}</h2>
        {{ if .Bookmarks }}
        <a href="{{ feedUrl }}"><img src="{{ .BaseURL }}/assets/feed.png" class="feed-icon" alt="RSS feed icon" title="Bookmarks feed"></a>
        {{ end }}
    </div>
    {{ if .Bookmarks }}
    <ul>
        {{ range .Bookmarks }} 
        <li class="bookmark">
            <div class="flex horizonal">
                <h3 class="title"><a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a></h3>
                {{ if $.IsAuthenticated }}
                <div class="warnings">
                    {{ if eq .IsWorking false }}<img src="{{ $.BaseURL }}/assets/warning.png" class="warning-icon" alt="Exclamation point icon" title="Bookmark is broken">{{ end }}
                    {{ if eq .IsPrivate true }}<img src="{{ $.BaseURL }}/assets/lock.png" class="private-icon" alt="Lock icon" title="Bookmark is private">{{ end }}
                </div>
                {{ end }}
            </div>
            
            {{ if .Description }}
                <p class="description">{{ .Description }}</p>
            {{ end }}
            
            <div class="extras">
                <div class="tags">
                    {{ if .Tags }}
                        Tags: 
                        {{ range .Tags }}
                            <a class="tag" href="{{ $.BaseURL}}/tags/{{ . }}">{{ . }}</a>
                        {{ end }}
                    {{ end}}
                </div>
                <div class="actions">
                    {{ if $.IsAuthenticated }}
                    <a href="{{ $.BaseURL }}/admin/bookmarks/{{ .ID }}">Edit</a>
                    <a href="{{ $.BaseURL }}/admin/bookmarks/{{ .ID }}/delete">Delete</a>
                    {{ end }}
                </div>
            </div>
        </li>
        {{ end }}
    </ul>
    {{ if gt (len .Pages) 1 }}
    <nav id="pagination" aria-label="Pagination Navigation">
        {{ range .Pages }}
            {{ if .IsActive }}
                {{ .Number }}
            {{ else }}
                <a href="{{ paginationUrl .Number }}" aria-label="Go to page {{ .Number }}">{{ .Number }}</a>
            {{ end }}
        {{ end }}
    </nav>
    {{ end }}
    {{ else }}
    <div class="bookmark">
        <p>No matching bookmarks</p>
    </div>
    {{ end }}
</section>


<aside id="sidebar">
    <nav class="mobile-only mobile-helper"><a href="{{ anchorUrl "top" }}">Go to top</a></nav>
    <section id="search">
        <h2>Search</h2>
        <form method="get" action="{{ .BaseURL }}">
            <input type="text" name="q" id="q" aria-label="Search by keyword">
            {{ if .TagFilter }}
            <input type="hidden" name="tags" value="{{ .TagFilter }}">
            {{ end }}
        </form>
    </section>

    {{ if .Tags }}
    <section id="tags">
        <h2>Tags</h2>
        <ul>
            {{ range .Tags }}
            <li><a href="{{ $.BaseURL}}/tags/{{ . }}">{{ . }}</a></li>    
            {{ end }}
        </ul>
    </section>
    {{ end }}
</aside>


{{ end }}