:root {
  --color-text: #F8F8F2;
  --color-background: #282a36;
  --color-primary: #414458;
  --color-secondary: #303240;
  --color-accent: #FFB86C;
  --color-menu: #121d29;
  --color-menu-toggler: hsl(231, 15%, 48%);
  --color-shadow: rgba(0, 0, 0, 0.397);
  --color-input-background: #414458;
  --color-input-border: #4f657d;
  --color-input-disabled-background: #4f5058;
  --color-input-disabled-border: #5a5e63;
  --color-input-disabled-text: #808080;
  --color-button-background: #544158;
  --color-button-border: #7d4f7b;
  --color-button-hover: #725977;
  --color-bookmark-background: #303240;
  --color-bookmark-action-background: #415358;
  --color-warning: #ff8282;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #0d0d07;
    --color-background: #caccd8;
    --color-primary: #a7aabe;
    --color-secondary: #bfc1cf;
    --color-accent: #753d00;
    --color-menu: #cbd4df;
    --color-menu-toggler: hsl(231, 15%, 52%);
    --color-shadow: rgba(0, 0, 0, 0.397);
    --color-input-background: #a7aabe;
    --color-input-border: #93a3b8;
    --color-input-disabled-background: #bebebe;
    --color-input-disabled-border: #b6b7b8;
    --color-input-disabled-text: #9b9b9b;
    --color-button-background: #b9a7be;
    --color-button-border: #bd9cc4;
    --color-button-hover: #b1a1b6;
    --color-bookmark-background: #bfc1cf;
    --color-bookmark-action-background: #a7b4be;
    --color-warning: #b30000;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4 {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 1.44rem;
  padding-bottom: 0.5em;
}

a {
  color: var(--color-accent);
}
a:hover, a:focus {
  text-shadow: 0 0 5px var(--color-accent);
}

input,
button,
textarea,
select {
  font: inherit;
  background: var(--color-input-background);
  border: 2px solid var(--color-input-border);
  border-radius: 5px;
  color: var(--color-text);
  padding: 0.5rem;
}
input[disabled],
button[disabled],
textarea[disabled],
select[disabled] {
  background: var(--color-input-disabled-background);
  border: 2px solid var(--color-input-disabled-border);
  color: var(--color-input-disabled-text);
}
input.invalid,
button.invalid,
textarea.invalid,
select.invalid {
  border-color: var(--color-warning);
}

textarea:not([rows]) {
  min-height: 10em;
}

button {
  background: var(--color-button-background);
  border: 2px solid var(--color-button-border);
}
button:not([disabled]):hover, button:not([disabled]):focus {
  background: var(--color-button-hover);
}
button.warning {
  color: var(--color-text);
}

:target {
  scroll-margin-block: 5ex;
}

:root {
  --color-text: #F8F8F2;
  --color-background: #282a36;
  --color-primary: #414458;
  --color-secondary: #303240;
  --color-accent: #FFB86C;
  --color-menu: #121d29;
  --color-menu-toggler: hsl(231, 15%, 48%);
  --color-shadow: rgba(0, 0, 0, 0.397);
  --color-input-background: #414458;
  --color-input-border: #4f657d;
  --color-input-disabled-background: #4f5058;
  --color-input-disabled-border: #5a5e63;
  --color-input-disabled-text: #808080;
  --color-button-background: #544158;
  --color-button-border: #7d4f7b;
  --color-button-hover: #725977;
  --color-bookmark-background: #303240;
  --color-bookmark-action-background: #415358;
  --color-warning: #ff8282;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #0d0d07;
    --color-background: #caccd8;
    --color-primary: #a7aabe;
    --color-secondary: #bfc1cf;
    --color-accent: #753d00;
    --color-menu: #cbd4df;
    --color-menu-toggler: hsl(231, 15%, 52%);
    --color-shadow: rgba(0, 0, 0, 0.397);
    --color-input-background: #a7aabe;
    --color-input-border: #93a3b8;
    --color-input-disabled-background: #bebebe;
    --color-input-disabled-border: #b6b7b8;
    --color-input-disabled-text: #9b9b9b;
    --color-button-background: #b9a7be;
    --color-button-border: #bd9cc4;
    --color-button-hover: #b1a1b6;
    --color-bookmark-background: #bfc1cf;
    --color-bookmark-action-background: #a7b4be;
    --color-warning: #b30000;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4 {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 1.44rem;
  padding-bottom: 0.5em;
}

a {
  color: var(--color-accent);
}
a:hover, a:focus {
  text-shadow: 0 0 5px var(--color-accent);
}

input,
button,
textarea,
select {
  font: inherit;
  background: var(--color-input-background);
  border: 2px solid var(--color-input-border);
  border-radius: 5px;
  color: var(--color-text);
  padding: 0.5rem;
}
input[disabled],
button[disabled],
textarea[disabled],
select[disabled] {
  background: var(--color-input-disabled-background);
  border: 2px solid var(--color-input-disabled-border);
  color: var(--color-input-disabled-text);
}
input.invalid,
button.invalid,
textarea.invalid,
select.invalid {
  border-color: var(--color-warning);
}

textarea:not([rows]) {
  min-height: 10em;
}

button {
  background: var(--color-button-background);
  border: 2px solid var(--color-button-border);
}
button:not([disabled]):hover, button:not([disabled]):focus {
  background: var(--color-button-hover);
}
button.warning {
  color: var(--color-text);
}

:target {
  scroll-margin-block: 5ex;
}

.page-container {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-bottom: 1rem;
  border-bottom: 2px dotted var(--color-primary);
}

.main-container {
  display: grid;
  grid-template-columns: auto minmax(250px, min-content);
  grid-template-rows: auto 1fr;
  grid-template-areas: "main search" "main tags";
  padding-top: 2rem;
  column-gap: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
:root {
  --color-text: #F8F8F2;
  --color-background: #282a36;
  --color-primary: #414458;
  --color-secondary: #303240;
  --color-accent: #FFB86C;
  --color-menu: #121d29;
  --color-menu-toggler: hsl(231, 15%, 48%);
  --color-shadow: rgba(0, 0, 0, 0.397);
  --color-input-background: #414458;
  --color-input-border: #4f657d;
  --color-input-disabled-background: #4f5058;
  --color-input-disabled-border: #5a5e63;
  --color-input-disabled-text: #808080;
  --color-button-background: #544158;
  --color-button-border: #7d4f7b;
  --color-button-hover: #725977;
  --color-bookmark-background: #303240;
  --color-bookmark-action-background: #415358;
  --color-warning: #ff8282;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #0d0d07;
    --color-background: #caccd8;
    --color-primary: #a7aabe;
    --color-secondary: #bfc1cf;
    --color-accent: #753d00;
    --color-menu: #cbd4df;
    --color-menu-toggler: hsl(231, 15%, 52%);
    --color-shadow: rgba(0, 0, 0, 0.397);
    --color-input-background: #a7aabe;
    --color-input-border: #93a3b8;
    --color-input-disabled-background: #bebebe;
    --color-input-disabled-border: #b6b7b8;
    --color-input-disabled-text: #9b9b9b;
    --color-button-background: #b9a7be;
    --color-button-border: #bd9cc4;
    --color-button-hover: #b1a1b6;
    --color-bookmark-background: #bfc1cf;
    --color-bookmark-action-background: #a7b4be;
    --color-warning: #b30000;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4 {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 1.44rem;
  padding-bottom: 0.5em;
}

a {
  color: var(--color-accent);
}
a:hover, a:focus {
  text-shadow: 0 0 5px var(--color-accent);
}

input,
button,
textarea,
select {
  font: inherit;
  background: var(--color-input-background);
  border: 2px solid var(--color-input-border);
  border-radius: 5px;
  color: var(--color-text);
  padding: 0.5rem;
}
input[disabled],
button[disabled],
textarea[disabled],
select[disabled] {
  background: var(--color-input-disabled-background);
  border: 2px solid var(--color-input-disabled-border);
  color: var(--color-input-disabled-text);
}
input.invalid,
button.invalid,
textarea.invalid,
select.invalid {
  border-color: var(--color-warning);
}

textarea:not([rows]) {
  min-height: 10em;
}

button {
  background: var(--color-button-background);
  border: 2px solid var(--color-button-border);
}
button:not([disabled]):hover, button:not([disabled]):focus {
  background: var(--color-button-hover);
}
button.warning {
  color: var(--color-text);
}

:target {
  scroll-margin-block: 5ex;
}

.page-container {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-bottom: 1rem;
  border-bottom: 2px dotted var(--color-primary);
}

.main-container {
  display: grid;
  grid-template-columns: auto minmax(250px, min-content);
  grid-template-rows: auto 1fr;
  grid-template-areas: "main search" "main tags";
  padding-top: 2rem;
  column-gap: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.page-header {
  font-size: 2.986rem;
  flex: auto;
}
.page-header a {
  color: var(--color-text);
  text-decoration: none;
}

.navigation-toggler {
  font-size: 2.986rem;
  color: var(--color-menu-toggler);
  text-decoration: none;
}

.header-navigation {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.7rem;
}
.header-navigation li + li::before {
  content: "| ";
}

.search-container {
  grid-area: search;
  padding-bottom: 2rem;
  width: 100%;
}

.search-input {
  width: 100%;
}

.bookmarks-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.bookmarks-header {
  display: flex;
}

.bookmarks-title {
  flex: auto;
}

.bookmarks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bookmark {
  background-color: var(--color-bookmark-background);
  padding: 1rem;
  border-radius: 10px;
}

.bookmark-heading {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.bookmark-title {
  flex: auto;
  font-size: 1.2rem;
}

.bookmark-extras {
  display: flex;
  padding-top: 1rem;
  font-size: 0.8rem;
}

.bookmark-tags {
  flex: auto;
}

.bookmark-tag, .bookmark-action {
  color: var(--color-text);
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  text-decoration: none;
}

.bookmark-tag {
  background-color: var(--color-primary);
}

.bookmark-action {
  background-color: var(--color-bookmark-action-background);
}

.bookmarks-pagination {
  padding-top: 1rem;
}

.tags-container {
  grid-area: tags;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
}

.warning {
  color: var(--color-warning);
}

.mobile-only {
  display: none;
}

.hidden {
  display: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.input-group.horizontal, .input-group.checkbox {
  flex-direction: row;
  gap: 1rem;
}

.input-group.checkbox {
  gap: 0.5rem;
  align-items: baseline;
}

.url {
  flex: auto;
}

.autocomplete {
  display: flex;
  flex-direction: column;
  background-color: var(--color-input-background);
}
.autocomplete.hidden {
  display: none;
}

.tag-option {
  padding: 0.5rem;
}
.tag-option:focus, .tag-option:hover {
  background-color: var(--color-secondary);
}

.info-box {
  background-color: var(--color-primary);
  padding: 1rem;
}

.info-box-title {
  font-size: 1.44rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 650px) {
  .page-header {
    font-size: 1.728rem;
  }
  .header-navigation {
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    flex-direction: column;
    background-color: var(--color-menu);
    padding: 1rem;
    font-size: 1.44rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px var(--color-shadow);
  }
  .header-navigation a {
    color: var(--color-text);
    text-decoration: none;
  }
  .header-navigation li + li::before {
    content: none;
  }
  .search-title, .bookmarks-title, .tags-title {
    text-align: center;
    padding-top: 1rem;
  }
  .tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .tag {
    color: var(--color-text);
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--color-primary);
  }
  .footer-container {
    padding-top: 4rem;
  }
  .admin-form {
    width: 100%;
  }
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
