body {
  background-color: #282a36;
  color: #F8F8F2;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  line-height: 1.5em;
}

#container {
  max-width: 1440px;
  padding: 1em;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

h2 {
  font-size: 1.2em;
  padding-bottom: 0.5em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

h3 {
  font-size: 1.1em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

a {
  color: #FFB86C;
}
a:hover, a:focus {
  text-shadow: 0 0 5px rgba(255, 184, 108, 0.7);
}

input,
textarea,
button {
  font-size: 1em;
  border: 2px solid hsl(231, 15%, 35%);
  background-color: hsl(231, 15%, 30%);
  color: #F8F8F2;
  padding: 0.5em;
  border-radius: 5px;
  margin-right: 0.5em;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
input[disabled],
textarea[disabled],
button[disabled] {
  border: 2px solid hsl(231, 2%, 35%);
  background-color: hsl(231, 2%, 30%);
  color: hsl(231, 2%, 45%);
}
input[disabled]:hover,
textarea[disabled]:hover,
button[disabled]:hover {
  box-shadow: none;
}
input:focus,
textarea:focus,
button:focus {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
input.invalid,
textarea.invalid,
button.invalid {
  border: 2px solid hsl(0, 50%, 51%);
}
input[type=checkbox],
textarea[type=checkbox],
button[type=checkbox] {
  margin-right: 0.5em;
  margin-bottom: 0.4em;
}
input#url,
textarea#url,
button#url {
  flex: auto;
}

button {
  background-color: hsl(46, 15%, 30%);
  border: 2px solid hsl(46, 15%, 35%);
}
button:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

main {
  display: grid;
  grid-template-columns: auto minmax(250px, min-content);
  grid-template-rows: auto 1fr;
  grid-template-areas: "main search" "main tags";
  padding-top: 1em;
  column-gap: 1em;
}

#bookmarks {
  grid-area: main;
}

#bookmarks {
  grid-area: main;
}

#search {
  grid-area: search;
}

#tags {
  grid-area: tags;
}

header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dashed #F8F8F2;
  align-items: baseline;
  padding-bottom: 1em;
}
header .auth-nav {
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
header h1 {
  flex: auto;
}
header h1 a {
  color: #F8F8F2;
  text-decoration: none;
}

#search {
  padding-bottom: 1em;
}
#search input {
  width: 100%;
}

#bookmarks .header {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
#bookmarks .header h2 {
  flex: auto;
}
#bookmarks ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#bookmarks .bookmark {
  display: flex;
  flex-direction: column;
  background-color: hsl(233, 14%, 22%);
  padding: 0.8em;
  border-radius: 10px;
}
#bookmarks .bookmark .title {
  display: flex;
}
#bookmarks .bookmark .title h3 {
  text-shadow: none;
  flex: auto;
}
#bookmarks .bookmark .extras {
  padding-top: 1em;
  font-size: 0.8em;
  display: flex;
  justify-content: flex-end;
}
#bookmarks .bookmark .extras .tags {
  flex: auto;
}
#bookmarks nav {
  padding-top: 1em;
}

#tags {
  white-space: nowrap;
}

footer {
  padding-top: 1em;
  text-align: center;
  font-size: 0.8em;
  color: hsl(231, 15%, 80%);
  line-height: 1.5em;
}
footer a {
  color: hsl(231, 15%, 80%);
}

.icon {
  width: 1.2em;
  height: 1.2em;
}

.mobile-helper {
  display: none;
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.hidden {
  display: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input-group.horizontal {
  flex-direction: row;
  align-items: center;
}

.warning {
  color: rgb(241, 131, 131);
  text-shadow: 0 0 5px rgba(241, 131, 131, 0.5);
}

button.warning {
  background-color: hsl(7, 95%, 24%);
  border: 1px solid hsl(7, 95%, 44%);
  color: #F8F8F2;
}

.progress-indicator {
  color: hsl(120, 60%, 68%);
  text-shadow: 0 0 5px rgba(124, 222, 124, 0.7);
}

.autocomplete {
  background: #222;
  position: absolute;
  top: 0;
}

.autocomplete li {
  padding: 0.5em;
  cursor: pointer;
}
.autocomplete li:focus, .autocomplete li:hover {
  background: #444;
}

.info-box {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: hsl(212, 15%, 22%);
  border: 2px solid hsl(212, 15%, 28%);
  border-radius: 5px;
}
.info-box p {
  padding-top: 1em;
}

@media only screen and (max-width: 600px) {
  h1,
  h2 {
    text-align: center;
  }
  header {
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
  }
  header nav {
    font-size: 0.8em;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #tags {
    text-align: center;
  }
  .mobile-helper {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
